div.avatar {
    /* cambia estos dos valores para definir el tamaño de tu círculo */
    height: 170px;
    width: 170px;
    /* los siguientes valores son independientes del tamaño del círculo */
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 70%;
    background-size: 100% auto;
    text-align: center;
    position: relative;
    left: -30px;
    top: -20px;

}


ul {
    /*width: 760px;
    margin-bottom: 20px;*/
    overflow: hidden;
}

li {
    line-height: 1.5em;
    /*border-bottom: 1px solid #ccc;*/
    float: left;
    display: inline;
}

    li.double {
        width: 50%;
        margin-top: 50px;
    }

.NameCharacter {
    /*border: solid;*/
    height: 50px;
    font-size: 30px;
    font-weight: bold;
    position: relative;
    text-align: center;
    vertical-align: middle;
    top: -17px;
}

.DescriptionCharacter {
    /*border: solid;*/
    height: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    word-wrap: break-word;
    font-size: small;
    font-family: Verdana;
}

.ComicCharacter {
    /*border: solid;*/
    height: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    word-wrap: break-word;
    font-size: small;
    font-family: Verdana;
}

.relatedcomics {
    -webkit-columns: 100px 3; /* Chrome, Safari, Opera */
    -moz-columns: 100px 3; /* Firefox */
    columns: 100px 3;
}
